@charset "UTF-8";
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}
.content_wrap{
    width: 1400px;
    height:1410px;
    position: relative; 
}
/**left menu*/
.content_wrap .left_menu{
    width:200px;
    height:1409px;
    position: relative;
}

.left_menu{
    width:200px;
    height:900px;
    position: relative;
}
.left_menu h1{
    padding-left:10px;
    padding-top:15px
}



header .nav h1{
    margin-top: 17px;
}
header .nav h1 img{
    padding-left: 25px;
}
/**  main_menu  **/
.content_wrap .main_menu{
    margin-top:25px;
    line-height: 28px;
    padding-left:30px
}
.content_wrap .main_menu li{
    font-weight:bold ;
    
    line-height: 30px;
}
.content_wrap .main_menu li a{
    color:black;
}
.content_wrap .main_menu li:nth-child(4) a{
    color:#377EAA
}

.content_wrap .main_menu li a:hover{
    text-decoration: underline;
}


/**  sub_menu  ***/
.content_wrap .sub_menu{
    padding:0 0 20px 30px;
}
.content_wrap .sub_menu li{
    line-height: 25px;
}
.content_wrap .sub_menu li a{
    font-size: 14px;
    color:#377EAA
} 
.content_wrap .sub_menu li a:hover{
    text-decoration: underline;
}

/***bottom*/
.bottom{
    margin-bottom:10px;
    position: absolute;
    top:1100px;
}

.bottom li{
    font-size:12px;
    line-height: 20px;
    padding-bottom: 10px;
    margin-left:18px
}
.bottom  li a {
    color:black
}
.bottom  li a:hover{
    text-decoration: underline;
}
.bottom li a span{
    color:#4AACD0;
    font-weight: bold;
}
/******left menu ë—******************/

/*menu1*/
.content{
    width:1198px;
    height:1410px;
    position: absolute;
    top:0;
    left:200px
}

.menu1{
    width:160px;
    height:1410px;
    background: #377EAA;
}
.menu1 ul{
    float:left;
    padding-top:90px;
    line-height: 30px;
    
}
.menu1 ul li{
    border:1px solid gray;
    width:159px;
    height:45px;
    padding-left: 30px;
    padding-top:6px;    
    font-size: 14px;
    color:white
}
.menu1 ul li:nth-child(2){
    background:#07648D;
    color:#42C9DF
}
.menu1 ul li:hover{
    background-color: #07648D;
    color:#42C9DF
}
/*menu2*/
.menu2{
    width:980px;
    height:305px;
    position: absolute;
    top:0;
    right:0;
}
.menu2 > img{
    position: absolute;
    z-index: -1;
}
.menu2 ul{
    padding-top:35px
}
.menu2 ul li{

}
.menu2 ul li:nth-child(1){
    font-size: 14px;
    color:gray
}
.menu2 ul li:nth-child(2){
    font-size:45px;
    line-height: 55px;
    padding-top:10px;
    color:#377EAA
}
.menu2 ul li:nth-child(3){
    font-size:16px;
    line-height: 23px;
    padding-top:30px;
    color:gray
}
.menu2 img{
    width:600px;
    height:300px;
    position: absolute;
    top:0;
    right:0
}



/*menu3*/
.menu3{
    margin-top:70px;
    width:980px; 
    height:999px;
    position: absolute;
    top:305px;
    right:0
}

.menu3 ul{
    display: flex;
    flex-direction: column;
    
}

.menu3 ul li {
    height:333px;
}

.menu3 ul img{
    padding-top:80px
}

.menu3 ul h2 span{
    font-size: 28px;
    color:#377EAA
}
.menu3 ul li h2{
    font-size: 25px;
    padding-bottom:15px;
    line-height: 30px;
}
.menu3 ul li .txt{
    padding-top:80px;
    line-height: 20px;
}
.menu3 ul li:nth-child(1) .txt{
    float:right;
    font-size: ;
}

.menu3 ul li:nth-child(2) .txt{
    float:left
}
.menu3 ul li:nth-child(3) .txt{
    float:right
}


